html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #f8f8f8
}

header .content {
  align-items: center;
  padding: 1rem;
  color: #151b54;
  text-align:center;
}

#model {
    display: block;
	border: 2px solid #151b54;
	border-radius: 4px;
    height: 380px;
    width: 500px;
    padding-top: 10px;
	margin=0 auto;
}

.model-container {
    padding: 10px;
    margin: 0 auto;
}

.form-inline {
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding-top: 30px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #151b54;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #151b54;
  border: 1px solid #ddd;
  color: white;
  border-radius: 4px;
}

.form-inline button:hover{
  background: #2b3946;
}

.model-outputs {
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding-top: 30px;
}
  
.model-outputs label {
  margin: 5px 10px 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #151b54;
}

table {
    font-family: "Roboto", sans-serif;
	font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #151b54;
    text-align: left;
    padding: 8px;
}
